@media only screen and (max-width: 800px) {
  .browse-list span {
    display: block;
    width: 240px;
    padding: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
  }

  .browse-list span:hover {
      background-color: rgba(0,0,0,0.5);
  }
}