nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0px;
    background: rgba(20,20,20,0.6);
}

.logo {
    width: 110px;
}

nav span {
    padding-left: 25px;
    font-size: 0.9rem;
}

.browse-btn {
    color: white;
    margin-left: 10px;
    display: none;
    font-size: 0.8rem;
    padding: 10px;
}

.browse-btn i {
    margin-right: 5px;
}

.browse-list {
    display: inline-block;
}

/* creates a drop-down menu on smaller screens */
@media only screen and (max-width: 800px) {
    .browse-list span {
        display: block;
        width: 240px;
        padding: 20px;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
    }

    .browse-list span:hover {
        background-color: rgba(0,0,0,0.2);
    }

    .browse-list {
        display: none;
        border: 1px solid rgba(255,255,255,.2);
        position: absolute;
        top: 80px;
        left: 60px;
    }

    .browse-btn {
        display: inline-block;
        padding: 40px 0px;
    }

    .browse-btn:hover ~ .browse-list {
        display: inline-block;
    }

    .browse-list:hover {
        display: block;
    }
}

.search-bar input {
    width: 250px;
}

.search-bar input:focus {
    outline: none
}

