.search-bar input {
  width: 250px;
}

.search-bar input:focus {
  outline: none
}

@media only screen and (max-width: 800px) {
  .search-bar input {
    max-width: 150px;
  }

  .fa-search {
    display: none;
  }
}